# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Sphinx documentation
# =========================
docs/_build/
docs/build/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.swp
